.link {
  color: #eee9c7;
  border: 1 solid;
  font-weight: bold;
}
.img {
  max-height: 10vh;
  object-fit: cover;
  border-radius: 50%;
}

.img2 {
  max-height: 10vh;
  object-fit: cover;
  border-radius: 50%;
  border: #eee9c7 solid;
}
