body {
  background-color: black;
  color: antiquewhite;
}
a {
  text-decoration: none;
  text-decoration-color: antiquewhite;
}

.titles {
  font-size: 4vh;
  font-weight: bold;
  margin: 1vh;
}

b {
  color: white;
}
