body {
  background-color: #efefef;
  color: black;
}
/* body {
  background-color: #898989;
  color: #ededee;
} */
a {
  text-decoration: none;
  text-decoration-color: #eee9c7;
}

.titles {
  font-size: 4vh;
  font-weight: bold;
  margin: 1vh;
}

.big {
  font-size: larger;
}
